/**
 * This CSS file contains the definitions for all icons
 * used on the site.
 *
 * It was built using the IcoMoon online app:
 * https://icomoon.io/
 */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-axsmpt');
	src:url('../fonts/icomoon.eot?#iefix-axsmpt')   format('embedded-opentype'),
	    url('../fonts/icomoon.woff?-axsmpt')        format('woff'),
	    url('../fonts/icomoon.ttf?-axsmpt')         format('truetype'),
	    url('../fonts/icomoon.svg?-axsmpt#icomoon') format('svg');
	font-weight: normal;
	font-style:  normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\1f3e0";
}
.icon-image:before {
	content: "\1f5bc";
}
.icon-pacman:before {
	content: "\1f579";
}
.icon-book:before {
	content: "\1f56e";
}
.icon-file:before {
	content: "\1f5ce";
}
.icon-tag:before {
	content: "\1f516";
}
.icon-envelope:before {
	content: "\1f582";
}
.icon-user:before {
	content: "\1f464";
}
.icon-bug:before {
	content: "\1f41b";
}
.icon-road:before {
	content: "\1f3ce";
}
.icon-earth:before {
	content: "\1f30e";
}
.icon-star:before {
	content: "\1f31f";
}
.icon-heart:before {
	content: "\1f48e";
}
.icon-exit:before {
	content: "\1f517";
}
.icon-table:before {
	content: "\1f4c8";
}
