/**
 * Custom styles for this page
 * (besides Bootstrap and friends)
 */

body {
	/* Padding for the top navbar */
    padding-top: 70px;
}

footer {
    margin: 50px 0;
}

img#logo {
	max-width   : 50%;
	max-height  : 250px;
	margin-left : 25%;
	height      : auto;
}

